<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521480091619-omc9i44st21uago3jdsmhjvo3ns95i1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521480091619-omc9i44st21uago3jdsmhjvo3ns95i1i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521480091619-86mfmem8be5kuqbdfr5k1vp66rafjoru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>521480091619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.overrideeg.apps.beautydoz</string>
	<key>PROJECT_ID</key>
	<string>beutydoz</string>
	<key>STORAGE_BUCKET</key>
	<string>beutydoz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521480091619:ios:53b41ded2c4425b9d5d2d6</string>
	<key>DATABASE_URL</key>
	<string>https://beutydoz.firebaseio.com</string>
</dict>
</plist>